html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  --text-primary: #4e5150;
  --text-secondary: #a9a9a9;
  --text-tertiary: #b9bdcf;
  --background-card: #e5e5e5;
  --background: #ffffff;
}
